{
  "extends": "react-app",
  "rules": {
    "no-console": "off",
    "no-use-before-define": "off",
    "no-useless-concat": "off",
    "react/no-children-prop": "off",

    "no-constant-condition": "warn",
    "no-restricted-globals": "warn",
    "no-unreachable": "warn",
    "no-unused-labels": "warn",
    "no-unused-vars": "warn",
    "react/no-string-refs": "warn",
    "react/prop-types": "off",
    "sort-imports": [
      "off",
      {
        "ignoreCase": true,
        "ignoreDeclarationSort": false,
        "ignoreMemberSort": true,
        "memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
      }
    ]
  }
}
